---
layout: default
title: Page not found
description: The requested page could not be found.
image: 404.svg
permalink: /404.html
---
<div class="container">
  <div class="row">
    <div class="col col-12" style="text-align: center">
      <div class="contact-head">
        {% if page.image %}
        <img src="{{site.baseurl}}/img/{{page.image}}" style="max-width: 1000px" alt="{{ page.title }}">
        {% endif %}
        <h1 class="page-title">{{ page.title | escape }}</h1>
        {% if page.description %}
        <p class="page-description">{{page.description}}</p>
        {% endif %}
        <p><a class="btn" href="{{site.baseurl}}/">Back to the bLog</a></p>
      </div>
    </div>
  </div>
</div>
