<div class="c-contacts" id="js-contacts">
  <h2 class="u-section-heading">Contacts</h2>
  <p class="c-contacts-desc">If you have any questions, please feel free to contact us. We try to respond to all requests made within 1 to 2 business days.</p>
    <form class="c-contacts-form" name="contact-form" method="post" data-netlify="true" data-netlify-honeypot="bot-field">
      <fieldset>
        <div class="c-form-item">
          <label for="name">Name (Required)</label>
          <input id="name" type="text" name="name" required>
        </div>
        <div class="c-form-item">
          <label for="email">E-mail (Required)</label>
          <input id="email" type="email" name="email" required>
        </div>
        <div class="c-form-item">
          <label for="subject">Subject</label>
          <input id="subject" type="text" name="_subject">
        </div>
        <div class="c-form-item">
          <label for="comments">Message (Required)</label>
          <textarea id="comments" name="message" rows="10" required></textarea>
        </div>
        <div class="c-form-item">
          <button type="submit" value="Send" class="c-form-btn c-btn c-btn--bilberry c-btn--big">Send</button>
        </div>
      </fieldset>
    </form>
</div> <!-- /.c-contacts -->