<!-- begin features -->
<section class="features" id="features">
  <div class="container">
<!--     <div class="features__header">
      <h2>Anvod Studio Features</h2>
    </div> -->
    <div class="row">
      <div class="col col-4 col-t-12">
        <div class="features__item features__item-design">
          <img src="/img/best.svg" alt="Best Icon" class="features__img">
          <h4 class="features__title">Best Design</h4>
          <p class="features__desc">Thoughtful to the smallest detail minimalist design, allows users to focus only on content, not being distracted by extraneous things.</p>
        </div>
      </div>
      <div class="col col-4 col-t-12">
        <div class="features__item features__item-speed">
          <span class="features__icon"></span>
          <img src="/img/speed.svg" alt="Speed Icon" class="features__img">
          <h4 class="features__title">Lightweight</h4>
          <p class="features__desc">Our themes are fully Responsive to ensure your site looks impeccable no matter what device it's viewed on. With clean and optimized code, content on your site is loaded super fast.</p>
        </div>
      </div>
<!--       <div class="col col-3 col-d-6 col-m-12">
        <div class="features__item features__item-customize">
          <img src="/img/customize.svg" alt="Customize Icon" class="features__img">
          <h4 class="features__title">Customizable</h4>
          <p class="features__desc">No coding required! From layouts and page features to colors, our themes are built with easy customization in mind.</p>
        </div>
      </div> -->
      <div class="col col-4 col-t-12">
        <div class="features__item features__item-support">
          <img src="/img/support.svg" alt="Support Icon" class="features__img">
          <h4 class="features__title">Top Support</h4>
          <p class="features__desc">We highly value our customers! We strive to provide speedy support when you need it. Feel free to ask any pre-sale/post-sale queries. We are always happy to help you.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end features -->