<!-- begin header -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-t-10 push-t-1 col-m-12 push-m-0">
        <div class="header__inner">
    
          <!-- Logo -->
          <div class="logo">
            <a class="logo__link" href="{{ site.baseurl }}/">
              {%if site.logo %}
              <img class="logo__image" src="{{ site.baseurl }}{{ site.logo }}" alt="Anvod Studio">
              {% else %}
              Anvod Studio
              {% endif %}
            </a>
          </div>
    
          <div class="header__content">
            <!-- Main Navigation -->
            <nav class="main-nav">
              <ul class="main-nav__list list-reset">
                <li class="main-nav__item">
                  <a href="{{ site.baseurl }}/" class="main-nav__link">Home</a>
                </li>
                {% for link in site.menu %}
                  <li class="main-nav__item {{ class }}">
                    <a class="main-nav__link" href="{{ link.link }}">{{ link.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </nav>
          </div>
    
          <!-- Menu Icon -->
          <div class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
          </div>
    
          <div class="menu-overlay"></div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- end header -->