<header class="c-site-header">
  <div class="o-wrapper-content">
    <nav class="c-site-nav">
      <a class="c-logo" href="{{ "/" | relative_url }}"><img class="c-logo__image" src="{{site.baseurl}}/images/assets/anvod-logo.svg" alt="Anvod Studio Logo"> <span class="u-screen-reader-text">{{ site.title | escape }}</span></a>
      <ul class="c-menu-list">
      {% for link in site.data.navigation %}
        {% assign class = nil %}
      {% if page.url contains link.link %}
        {% assign class = ' c-menu-item__link--active' %}
      {% endif %}
        <li class='c-menu-item'><a class='c-menu-item__link {{ class }}' href='{{ link.link }}'>{{ link.name }}</a></li>
      {% endfor %}
      </ul>
      {% include social-links.html %}
      <div class="c-site-nav__icon">
        <div data-icon='ei-navicon' data-size='s'></div>
      </div>
    </nav>
  </div>
</header> <!-- /.site-header -->
