<!-- begin hero -->
<section id="hero" class="hero" style="background-image: url({{site.baseurl}}{{site.hero-img}});">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__text">
          <h1 class="hero__title">{{site.hero-title}}</h1>
          <p class="hero__subtitle">{{site.hero-subtitle}}</p>
          <a href="{{site.url}}#ghost-themes" class="discover-btn">View Demos</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->