<section class="c-hero" data-vide-bg="{{site.baseurl}}/video/studio.mp4" data-vide-options="posterType: jpg, loop: true, muted: false, position: 50% 50%">
  <div class="o-wrapper-content">
    <div class="c-hero__content o-row">
      <div class="c-hero__desc o-row__col o-row__col--5 o-row__col--10-lg o-row__col--12-md">
        <h1 class="c-hero__title">{% if site.hero-title %}{{site.hero-title}}{% else %}Welcome to Anvod Studio{% endif %}</h1>
        <p class="c-hero__tagline">{% if site.hero-tagline %}{{site.hero-tagline}}{% else %}We create premium custom websites for creative people and companies that appreciate quality and simplicity.{% endif %}</p>
        <a class="c-btn c-btn--blue" href="{{site.baseurl}}/contact/">Contact us</a>
      </div>
      <div class="c-hero__services o-row__col o-row__col--6 o-row__col--10-lg o-row__col--12-md">
        <ul class="c-hero__list">
          <li class="c-hero__item">
            <h3><div data-icon='ei-trophy' data-size='s'></div> Lightweight</h3>
            <p>Our themes are fully Responsive to ensure your site looks impeccable no matter what device it's viewed on. With clean and optimized code, content on your site is loaded super fast.</p>
          </li>
          <li class="c-hero__item">
            <h3><div data-icon='ei-gear' data-size='s'></div> Customizable</h3>
            <p>No coding required! From layouts and page features to colors, our themes are built with easy customization in mind.</p>
          </li>
          <li class="c-hero__item">
            <h3><div data-icon='ei-heart' data-size='s'></div> Top Notch Support</h3>
            <p>We highly value our customers! We strive to provide speedy support when you need it. Feel free to ask any pre-sale/post-sale queries. We are always happy to help you.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section> <!-- /.hero -->
