<section class="c-services" id="js-services">
  <h2 class="u-section-heading">What makes us better than others?</h2>
  <ul class="c-services__list o-row">
    <li class="c-services__item  o-row__col o-row__col--3 o-row__col--6-lg o-row__col--12-md">
      <div class="c-services__img">
        <img src="{{site.baseurl}}/images/assets/approval.svg" alt="">
      </div>
      <h4 class="c-section__heading">Lightweight</h4>
      <p>Our themes are fully Responsive to ensure your site looks impeccable no matter what device it's viewed on. With clean and optimized code, content on your site is loaded super fast.</p>
    </li>
    <li class="c-services__item  o-row__col o-row__col--3 o-row__col--6-lg o-row__col--12-md">
      <div class="c-services__img">
        <img src="{{site.baseurl}}/images/assets/maintenance.svg" alt="">
      </div>
      <h4 class="c-services__heading">Customizable</h4>
      <p>No coding required! From layouts and page features to colors, our themes are built with easy customization in mind.</p>
    </li>
    <li class="c-services__item  o-row__col o-row__col--3 o-row__col--6-lg o-row__col--12-md">
      <div class="c-services__img">
        <img src="{{site.baseurl}}/images/assets/favorites.svg" alt="">
      </div>
      <h4 class="c-services__heading">Best Design</h4>
      <p>Thoughtful to the smallest detail minimalist design, allows users to focus only on content, not being distracted by extraneous
        things.
      </p>
    </li>
    <li class="c-services__item  o-row__col o-row__col--3 o-row__col--6-lg o-row__col--12-md">
      <div class="c-services__img">
        <img src="{{site.baseurl}}/images/assets/support.svg" alt="">
      </div>
      <h4 class="c-services__heading">Top Notch Support</h4>
      <p>We highly value our customers! We strive to provide speedy support when you need it. Feel free to ask any pre-sale/post-sale queries. We are always happy to help you.</p>
    </li>
  </ul>
</section> <!-- /.c-services -->