<ul class="c-social u-lists-reset">
  {% if site.twitter %}
  <li class="c-social__item"><a class="c-social__link" href="{{ site.twitter }}" target="_blank"><div data-icon='ei-sc-twitter' data-size='s'></div></a></li>
  {% endif %}
  {% if site.github %}
  <li class="c-social__item"><a class="c-social__link" href="{{ site.github }}" target="_blank"><div data-icon='ei-sc-github' data-size='s'></div></a></li>
  {% endif %}
  {% if site.pinterest %}
  <li class="c-social__item"><a class="c-social__link" href="{{ site.pinterest }}" target="_blank"><div data-icon='ei-sc-pinterest' data-size='s'></div></a></li>
  {% endif %}
  {% if site.instagram %}
  <li class="c-social__item"><a class="c-social__link" href="{{ site.instagram }}" target="_blank"><div data-icon='ei-sc-instagram' data-size='s'></div></a></li>
  {% endif %}
  {% if site.email %}
  <li class="c-social__item"><a class="c-social__link" href="mailto:{{ site.email }}" target="_blank"><div data-icon='ei-envelope' data-size='s'></div></a></li>
  {% endif %}
</ul> <!-- /.social -->
