<!-- begin support -->
<section class="support" id="support">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="support__content">
          <h2 class="support__title">In need of product support?</h2>
          <p class="support__subtitle">Send us a message and we will get back to you as soon as possible <a href="mailto:anvodstudio@gmail.com" class="email__link">Get Support</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end support -->