$row-offset: $base-spacing-unit;

.o-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: ($base-spacing-unit * -1);
  margin-right: ($base-spacing-unit * -1);
}

.o-row__col {
  margin-left: $row-offset;
  margin-right: $row-offset;

  &--1 {
    width: calc(100% / 12 * 1 - 30px);
  }

  &--2 {
    width: calc(100% / 12 * 2 - 30px);
  }

  &--3 {
    width: calc(100% / 12 * 3 - 30px);
  }

  &--4 {
    width: calc(100% / 12 * 4 - 30px);
  }

  &--5 {
    width: calc(100% / 12 * 5 - 30px);
  }

  &--6 {
    width: calc(100% / 12 * 6 - 30px);
  }

  &--7 {
    width: calc(100% / 12 * 7 - 30px);
  }

  &--8 {
    width: calc(100% / 12 * 8 - 30px);
  }

  &--9 {
    width: calc(100% / 12 * 9 - 30px);
  }

  &--10 {
    width: calc(100% / 12 * 10 - 30px);
  }

  &--11 {
    width: calc(100% / 12 * 11 - 30px);
  }

  &--12 {
    width: calc(100% / 12 * 12 - 30px);
  }

  // Desktop - 992px
  @include mq($from: desktop) {
    &--1-lg {
      width: calc(100% / 12 * 1 - 30px);
    }

    &--2-lg {
      width: calc(100% / 12 * 2 - 30px);
    }

    &--3-lg {
      width: calc(100% / 12 * 3 - 30px);
    }

    &--4-lg {
      width: calc(100% / 12 * 4 - 30px);
    }

    &--5-lg {
      width: calc(100% / 12 * 5 - 30px);
    }

    &--6-lg {
      width: calc(100% / 12 * 6 - 30px);
    }

    &--7-lg {
      width: calc(100% / 12 * 7 - 30px);
    }

    &--8-lg {
      width: calc(100% / 12 * 8 - 30px);
    }

    &--9-lg {
      width: calc(100% / 12 * 9 - 30px);
    }

    &--10-lg {
      width: calc(100% / 12 * 10 - 30px);
    }

    &--11-lg {
      width: calc(100% / 12 * 11 - 30px);
    }

    &--12-lg {
      width: calc(100% / 12 * 12 - 30px);
    }
  }

  // Tablet - 720px
  @include mq($from: tablet) {
    &--1-md {
      width: calc(100% / 12 * 1 - 30px);
    }

    &--2-md {
      width: calc(100% / 12 * 2 - 30px);
    }

    &--3-md {
      width: calc(100% / 12 * 3 - 30px);
    }

    &--4-md {
      width: calc(100% / 12 * 4 - 30px);
    }

    &--5-md {
      width: calc(100% / 12 * 5 - 30px);
    }

    &--6-md {
      width: calc(100% / 12 * 6 - 30px);
    }

    &--7-md {
      width: calc(100% / 12 * 7 - 30px);
    }

    &--8-md {
      width: calc(100% / 12 * 8 - 30px);
    }

    &--9-md {
      width: calc(100% / 12 * 9 - 30px);
    }

    &--10-md {
      width: calc(100% / 12 * 10 - 30px);
    }

    &--11-md {
      width: calc(100% / 12 * 11 - 30px);
    }

    &--12-md {
      width: calc(100% / 12 * 12 - 30px);
    }
  }

  // Mobile - 576px
  @include mq($from: mobile) {
    &--1-sm {
      width: calc(100% / 12 * 1 - 30px);
    }

    &--2-sm {
      width: calc(100% / 12 * 2 - 30px);
    }

    &--3-sm {
      width: calc(100% / 12 * 3 - 30px);
    }

    &--4-sm {
      width: calc(100% / 12 * 4 - 30px);
    }

    &--5-sm {
      width: calc(100% / 12 * 5 - 30px);
    }

    &--6-sm {
      width: calc(100% / 12 * 6 - 30px);
    }

    &--7-sm {
      width: calc(100% / 12 * 7 - 30px);
    }

    &--8-sm {
      width: calc(100% / 12 * 8 - 30px);
    }

    &--9-sm {
      width: calc(100% / 12 * 9 - 30px);
    }

    &--10-sm {
      width: calc(100% / 12 * 10 - 30px);
    }

    &--11-sm {
      width: calc(100% / 12 * 11 - 30px);
    }

    &--12-sm {
      width: calc(100% / 12 * 12 - 30px);
    }
  }

}
