/* Base */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  color: $black;
  background-color: $white;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.section-header {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  @media only screen and (max-width: $mobile) {
    margin-bottom: 30px;
  }
}

.section-title {
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
}

.section-header-title {
  color: $gray;
  font-size: 15px;
  font-weight: 600;
  transition: color 150ms ease-in;
  &:hover {
    color: $brand-color;
    text-decoration: underline;
  }
}

.btn {
  display: inline-block;
  padding: 18px 32px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: inherit;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  outline: none;
  transition: 200ms;
  color: $white;
  background-color: $brand-color;
  cursor: pointer;
  &:hover {
    color: $white;
    transform: translate(0px, -5px);
    box-shadow: 0 20px 30px -11px rgba(54, 113, 173, 0.9);
  }
}

// Animation Fade
.fadein {
  opacity: 0;
  transition: transform 200ms ease, opacity 400ms ease-in-out;
}

.inview {
  opacity: 1;
}