/* Contact */
.contact {
  background-color: #f7f6f7;
}
.contact__content {
  width: 100%;
  max-width: 500px;
  padding: 60px 0;
  margin: 0 auto;
  text-align: center;

  .contact__img {
    width: 60px;
    height: 60px;
  }

  .contact__title {
    margin: 10px 0;
    font-size: 34px;
    line-height: 46px;
  }

  .contact__subtitle {
    margin-bottom: 30px;
    font-size: 18px;
    color: #2f4c54;
  }

  .email-title {
    margin: 0 0 5px;
    color: #2F4C54;
  }

  .email__link {
    color: #aaa;
    padding-bottom: 1px;
    border-bottom: 1px solid #aaa;
    &:hover {
      padding-bottom: 4px;
      border-bottom-color: transparent;
    }
  }
  

  @media only screen and (max-width: $mobile) {
    padding: 40px 0;

    .contact-shape {
      top: -30px;
    }

    .contact__title {
      margin: 0 0 10px;
      font-size: 36px;
      line-height: 50px;
    }
  }
}

// Social
.social-title {
  margin-bottom: 10px;
  color: #2F4C54;
}

.social {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .social-item {
    display: inline-block;
    margin: 0 5px;
  }

  .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: #ccc;
    &:hover {
      svg {
        fill: $black;
      }
    }

    svg {
      width: 20px;
      height: 20px;
      fill: #ccc;
      transition: 200ms ease;
    }
  }
}