/* Footer */
.footer {
  background-color: #f0f3fc;
}

.copyright {
  padding: 50px 0;
  font-size: 13px;
  text-align: center;
  a {
    color: inherit;
    &:hover {
      color: $brand-color;
    }
  }
}