/* Footer */
footer.footer {
  padding: 40px 0;
}
.copyright {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $gray;
  a {
    &:hover {
      color: $black;
    }
  }
}