/* Footer */
.copyright {
  padding: 40px 0;
  font-size: 13px;
  text-align: center;
  border-top: 1px solid $light-gray;
  a {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}