/* Header */
.header {
  padding: 20px 0;
}

.header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.header__content {
  display: none;
  height: inherit;
  padding: 40px;

  &.is-active {
    position: absolute;
    top: 0;
    right: -10px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 25px 15px -15px rgba(0,0,0,0.1), 0px 2px 25px rgba(0,0,0,0.15);
    animation: is-scale-up-tr 200ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  @keyframes is-scale-up-tr {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }


  @media only screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    padding: 0;
  }
}

/* Logo */
.logo__link {
  font-size: 27px;
  line-height: 33px;
  font-weight: 700;
  color: inherit;
  transition: none;
  &:hover {
    color: $black;
  }
}

.logo__image {
  max-height: 50px;
  width: 170px;
}

/* Navigation */
.header .main-nav {
  .main-nav__item {
    display: block;
    margin: 0;
    text-align: center;
  }

  .main-nav__link {
    display: inline-block;
    padding: 8px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 200ms ease;
    &:hover {
      color: $brand-color;
    }
  }

  @media only screen and (min-width: 768px) {
    margin-bottom: 0;

    .main-nav__link {
      margin-bottom: 0;
      font-size: 13px;
    }

    .main-nav__item {
      display: inline-block;
      margin: 0 10px;
      text-align: left;
    }
  }
}

.menu-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(0deg);
  z-index: 100;
  display: block;
  width: 30px;
  height: 20px;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.menu-icon span {
  position: absolute;
  left: 0;
  transform: rotate(0deg);
  display: block;
  height: 3px;
  width: 100%;
  opacity: 1;
  transition: 0.25s ease-in-out;
  background: $black;
}

.menu-icon span:nth-child(1) {
  top: 0px;
}

.menu-icon span:nth-child(2) {
  top: 9px;
  right: 0;
  width: 80%;
  margin-left: auto;
}

.menu-icon span:nth-child(3) {
  top: 18px;
}

.menu-icon.open span:nth-child(1) {
  top: 9px;
  transform: rotate(135deg);
}

.menu-icon.open span:nth-child(2) {
  opacity: 0;
  right: -30px;
}

.menu-icon.open span:nth-child(3) {
  top: 9px;
  transform: rotate(-135deg);
}

.menu-overlay {
  display: none;
  background: transparent;
  pointer-events: none;

  &.is-visible {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: block;
    transition: background 200ms ease-in-out;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: auto;
  }
}