/* Hero */
.hero {
  padding: 120px 0;
  @media only screen and (max-width: $mobile) {
    padding: 80px 0;
  }
}

.hero__text {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  .hero__title {
    margin: 0 0 20px;
    font-family: 'Prata', serif;
    font-size: 43px;
    line-height: 68px;
    color: $black;
  }

  .hero__subtitle {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 30px;
    font-size: 17px;
    line-height: 30px;
  }

  .discover-btn {
    margin: 0 auto;
    font-size: 13px;
  }

  @media only screen and (max-width: $desktop) {
    align-items: center;
    max-width: 100% !important;
    text-align: center;
  }

  @media only screen and (max-width: $mobile) {
    .hero__title {
      margin: 0 0 15px;
      font-size: 40px;
      line-height: 55px;
    }

    .hero__subtitle {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 28px;
    }
  }
}

.hero__img-box {
  text-align: center;
  .hero__img {
    pointer-events: none;
    @media only screen and (max-width: $desktop) {
      width: 90%;
      margin-top: 40px;
    }
    @media only screen and (max-width: $mobile) {
      width: 100%;
      margin-top: 40px;
    }
  }
}