/* Themes */
.themes {
 padding: 80px 0;
 @media only screen and (max-width: $mobile) {
   padding: 50px 0;
 }
}

.theme {
  margin-bottom: 50px;
}

.theme-image {
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &:hover {
    transform: translate(0px, -10px);
  }

  &:after {
    content: "";
    display: table;
    padding-top: 60%;
  }
}

.product-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}

.product-head__title {
  margin: 0;
  font-size: 27px;
  line-height: 48px;
}

.product-head__subtitle {
  position: relative;
  margin-bottom: 15px;
  font-size: 12px;
  text-transform: uppercase;
  color: #828282;
}

// Button Box
.btn-box {
  display: flex;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 25px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  color: #fff;
  transition: all 250ms ease;
  color: $black;
  border: 1px solid #dbdada;
  background-color: #fff;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &:hover,
  &:active,
  &:focus {
    color: $black;
  }
  &:hover {
    border-color: #9a9a9a;
    background-color: #f6f6f6;
  }
  svg {
    margin-right: 10px;
  }
  @media only screen and (max-width: $mobile) {
    padding: 12px 10px;
  }
}