/* Themes */
.theme {
  margin-bottom: 25px;
}


.work__box {
  padding-bottom: 55px;
  margin-bottom: 80px;
  border-bottom: 1px solid $light-gray;
}

.theme-image {
  width: 100%;
  min-height: 300px;
  display: block;
  border-radius: 5px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $light-gray;
  box-shadow: 0px 5px 20px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out, opacity 400ms ease-in-out;
  &::after {
    content: "";
    display: table;
    padding-top: 70%;
  }

  &:hover {
    transform: translate(0px, -10px);
    box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  }
}

.product-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.product-head__title {
  margin: 0;
  font-size: 21px;
  line-height: 31px;
}

.product-head__subtitle {
  position: relative;
  margin-bottom: 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #828282;
}