.c-btn {
  display: inline-block;
  padding: $base-spacing-unit round(1.5 * $base-spacing-unit); // 17px 22px
  font-size: $base-font-size;
  line-height: 20px;
  font-weight: 700;
  color: $color-white;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: $color-brand;
  border-color: $color-brand;
  border: 1px solid transparent;
  border-radius: $global-radius;
  // box-shadow: 0 0 1px rgba(0, 0, 0, .15);
  cursor: pointer;
  transition: all $global-transition;

  &--blue {
    background-color: $color-brand;
    border-color: $color-brand;
  }

  &--gray {
    background-color: $color-blue-gray;
    border-color: $color-blue-gray;
  }

  &--big {
    display: block;
    width: 100%;
  }

  &:hover {
    color: $color-white;
    box-shadow: 0 20px 30px -11px rgba(31, 35, 65, 0.37);
    transform: translate(0px, -5px);
    transition: all $global-transition;
  }
}
