.c-preloader {
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
  background: $color-light-gray;
  opacity: 1;
  visibility: visible;
  transition: all $global-transition;
  z-index: 99999;

  &__loader {
    will-change: transform;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    background-color: $color-brand;
    border-radius: 50%;
    animation: scaleout 1.1s infinite ease-in-out;

    z-index: 999;
  }

  &.is-done {
    opacity: 0;
    visibility: hidden;
  }

}

@keyframes scaleout {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	40% {
	  opacity: 1;
	}
	100% {
		transform: scale(1.0);
		opacity: 0;
	}
}
