// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 15px;


// ***********************
// Some Useful color Vars
// ***********************

$brand-color: #5270ff;
$black: #25262b;
$gray: #656565;
