// Colors pallete
$color-brand: #7185be; //#1ea4d6;
$color-gray: #363c42;
$color-gray-light: #888888;
$color-blue-gray: #578090;
$color-bilberry: linear-gradient(to right, #7986f9 0%,#9ea8f7 100%); // #7986f9;
$color-white: #ffffff;
$color-dark: #010101;
$color-dark-gray: #333333;
$color-light-gray: #faf9ff;
$color-highlight: rgba(0, 0, 0, 0.6);

// Text
$color-text: $color-gray;

// Background colors
$bg-light-gray: $color-light-gray;
$bg-blue-gray: $color-blue-gray;
$bg-lilac: #4a5068;
$bg-hightlight: $color-highlight;

// Border colors
$color-border: #eeeeee;

// Links
$color-link: $color-dark;
$color-link-hover: $color-brand;
