.c-hero {
  position: relative;
  color: $color-white;
  height: auto;
  background-color: $bg-blue-gray;
  z-index: 2;

  &__content {
    padding: 100px 0;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 992px) {
      justify-content: center;
    }
  }

  &__desc {
    .c-hero__title, .c-hero__tagline {
      text-shadow: 0px 1px 1px rgba(51, 51, 51, 0.10);
    }

    @media screen and (max-width: 992px) {
      text-align: center;
      margin-bottom: ($base-spacing-unit * 4);
      a.c-btn {
        width: 50%;
      }
    }
  }

  &__tagline {
    font-size: 21px;
    margin-bottom: 30px;
  }

  &__services {
    padding: 40px 80px;
    word-wrap: break-word;
    border-radius: $global-radius;
    background-color: rgba(30, 164, 214, 0.2);

    .c-hero__list {
      .c-hero__item {
        margin-bottom: $base-spacing-unit;
        padding-bottom: $base-spacing-unit;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      }
    }

    h3 {
      margin-top: $base-spacing-unit;
    }

    .icon {
      vertical-align: sub;
    }

    @media screen and (max-width: 992px) {
      padding: 40px 60px;
    }

    @media screen and (max-width: 576px) {
      padding: 20px 40px;
    }
  }
}
