<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="c-full-page-container">
      <div class="c-preloader" id="page-preloader">
        <div class="c-preloader__loader"></div>
      </div> <!-- /.c-preloader -->

      <div class="c-overlay" id="mask"></div> <!-- /.c-overlay -->

       {% include header.html %}

        {{ content }}

      {% include footer.html %}
    </div> <!-- /.c-full-page-container -->
    <script src="{{ "/js/common.js" }}"></script>
  </body>

</html>
