// Colors pallete
$color-brand: #1ea4d6;
$color-gray: #363c42;
$color-blue-gray: #578090;
$color-white: #ffffff;
$color-dark: #010101;
$color-light-gray: #faf9ff;
$color-highlight: rgba(0, 0, 0, 0.6);

// Text
$color-text: $color-gray;

// Background colors
$bg-light-gray: $color-light-gray;
$bg-blue-gray: $color-blue-gray;
$bg-hightlight: $color-highlight;

// Border colors
$color-border: #eeeeee;

// Links
$color-link: $color-dark;
$color-link-hover: $color-brand;
