.c-contacts {
  padding: 50px 15px;
  margin: 0 -15px;
  background-color: #f9fafb;
  border-top: 1px solid $color-border;
  .c-contacts-desc {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
  }
}

.c-contacts-form {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  fieldset {
    border: none;
  }
  label, input, textarea {
    width: 100%;
    border-radius: 3px;
  }
  input, textarea {
    padding: 10px 15px;
    border: 1px solid #cccccc;
    outline: none;
    transition: $global-transition;
    &:focus {
      border-color: darken(#cccccc, 15%);
    }
  }
  textarea {
    resize: none;
    height: 280px;
  }
  .c-form-item {
    margin-bottom: 20px;
    label {
      display: block;
      margin-bottom: 10px;
    }
    input {
      height: 50px;
    }
    button {
      padding: 23px;
      outline: none;
      border: none;
      transition: $global-transition;
      &:active {
        transform: translateY(2px);
      }
    }
    &:last-child {
      margin: 40px 0;
    }
  }
}

@media only screen and (max-width: 721px) {
  .c-contacts {
    .c-contacts-desc {
      text-align: center;
      margin-bottom: 40px;
      font-size: 18px;
    }
  }
  .c-contacts-form {
    textarea {
      resize: none;
      height: 240px;
    }
    .c-form-item {
      margin-bottom: 20px;
      label {
        display: block;
        margin-bottom: 10px;
      }
      input {
        height: 40px;
      }
      button {
        padding: 15px 23px;
        outline: none;
        border: none;
        transition: $global-transition;
        &:active {
          transform: translateY(2px);
        }
      }
      &:last-child {
        margin: 20px 0;
      }
    }
  }
}