.c-footer {
  padding: 40px 0;
  text-align: center;
  background-color: #121c28;
  .c-copyright {
    margin: 0;
    color: #3a547a;
    a {
      color: #7488a3;
      &:hover {
        color: lighten(#7488a3, 15%);
      }
    }
    .icon {
      display: inline-block;
      vertical-align: middle;
      fill: #d33c40;
    }
  }

}