.c-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  background: $bg-hightlight;
  z-index: 1;
  filter: alpha(opacity=0);
  opacity: 0;
  transition: all $global-transition;

  &.show {
    pointer-events: auto;
    filter: none;
    opacity: 1;
  }
}
