.c-social {

  &__item {
    display: inline-block;
    vertical-align: top;
    line-height: 0;

    &__link {
      color: $color-dark;
      text-decoration: none;
      transition: $global-transition;
    }
  }

  .icon {
    fill: $color-dark;
    transition: $global-transition;
    vertical-align: middle;

    &:hover {
      fill: $color-brand;
    }
  }
}
