.c-works {
  padding: 50px 0;
}

.c-works-desc {
  text-align: center;
  background-color: $color-white;

  &__main {
    color: $color-blue-gray;
  }
}

.c-works-portfolio {
  .works-portfolio__item {
    border-radius: 5px;
    border: 1px solid $color-border;
    transition: all 0.35s cubic-bezier(.21, .6, .35, 1);
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 30px 65px rgba(0,0,0,0.15);
      .works-portfolio__image {
        opacity: 1;
      }
    }
    .works-portfolio__image {
      position: relative;
      display: block;
      border-radius: 5px 5px 0 0;
      text-decoration: none;
      background-color: rgba(220,235,245,0.2);
      background-size: cover;
      background-position: top left;
      background-repeat: no-repeat;
      opacity: 0.7;
      &:before {
        content: "";
        display: block;
        padding-top: 56.5%;
      }
    }
    .works-portfolio__info {
      text-align: center;
      padding: 40px;
      border-top: 1px solid $color-border;
      h4 {
        color: $color-gray;
      }
      p {
        color: $color-gray-light;
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .c-works-portfolio {
    .works-portfolio__item {
       margin-bottom: 30px;
       .works-portfolio__info {
         padding: 20px;
       }
    }
  }
}